Source: flex-old
Section: devel
Priority: extra
Build-Depends: bison, gettext, texinfo, autotools-dev, autoconf, file, debhelper (>= 8), texi2html (>= 1.76)
Build-Depends-Indep: texi2html (>= 1.76)
Maintainer: Tommi Vainikainen <tvainika@debian.org>
Standards-Version: 3.9.2.0
Homepage: http://flex.sourceforge.net/

Package: flex-old
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: flex
Recommends: gcc | c-compiler 
Suggests: bison
Description: Old version of the fast lexical analyzer generator
 flex is a tool for generating scanners: programs which recognize lexical      
 patterns in text. This is the old 2.5.4a version, which is no longer
 being developed. You should normally choose flex, unless you have
 legacy lexer files that do not work with a modern flex.
 .
 This product includes software developed by the University of California,
 Berkeley and its contributors. The upstream source code can be found at 
 http://flex.sourceforge.net/

Package: flex-old-doc
Section: doc
Priority: extra
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for an old flex (a fast lexical analyzer generator)
 This package contains the HTML documentation for the old 2.5.4a version
 of flex, which is no longer being developed upstream. You should
 normally chose flex-doc, unless you have legacy lexer files that do
 not work with a modern flex, and need to use the old flex. The
 upstream source code can be found at the FTP site:
 http://flex.sourceforge.net/
